<div id="sidebar">
    {{ render_esi(controller('AppBundle\\Controller\\SidebarController::lastGames')) }}
    {{ render_esi(controller('AppBundle\\Controller\\SidebarController::lastPlayers')) }}
</div>
